---
page_title: "domeneshop_forward Resource - terraform-provider-domeneshop"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# Resource `domeneshop_forward`

{{ .Description | trimspace }}

## Example Usage

{{tffile "examples/resources/domeneshop_forward/resource.tf"}}

{{ .SchemaMarkdown | trimspace }}

## Import

Import is supported using the following syntax:

{{codefile "shell" "examples/resources/domeneshop_forward/import.sh" }}