---
page_title: "Provider: Domeneshop"
subcategory: ""
description: |-
  Terraform provider for Domeneshop (Domainnameshop).
---

# Domeneshop Provider

Terraform provider for Domeneshop (Domainnameshop).

## Example Usage

{{tffile "examples/provider/provider.tf"}}

{{ .SchemaMarkdown | trimspace }}